<div
    class="d-flex flex-column flex-md-row align-items-center justify-content-between p-2 px-md-3 mb-2 bg-white border-bottom shadow-sm fixed-top logo">
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="company Logo" [routerLink]="['/']">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase headers">
        <a 
            class="p-2" 
            [routerLink]="['/']" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
        >Home</a>
        <a class="p-2" routerLink ="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2" routerLink="/test-errors" routerLinkActive="active">Errors</a>

    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark">
                <div class="cart-no">5</div>
            </i>
        </a>
        <a class="btn btn-outline-secondary mr-2"> <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>Sign up</a>
        <a class="btn btn-outline-secondary mr-3"> <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Login</a>
    </div>

</div>